.App {
  display: flex;
  background-color: #CDE8E5;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.task-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #EEF7FF;
  border-radius: 5px;
  margin-right: 10px;
}

.task-button {
  padding: 10px 20px;
  background-color: #4D869C;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.task-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.task-card {
  background-color: #EEF7FF;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  align-items: center;
}

.task-checkbox {
  margin-right: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.delete-button {
  padding: 10px 20px;
  background-color: #4D869C;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}
